body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header {
    width: 100%;
    background-color: #f7f7f7;
    padding: 30px 0;
}

/* biudbivbsdv 457465796879*/
.logo {
    display: block;
    color: #383838;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.logo img{
    width: 50px;
    height: 50px;
}
.wrapper{
    border: 1px solid #dcdcdc;
    padding: 30px;
}
.navigatiion{
    background-color: #607d8b;
    padding: 15px 30px;
}
.nav-menu{
 list-style: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

.nav-menu li a{
    color: #fff;
    float: left;
    margin-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-menu li a:hover,.nav-menu li a:focus,.nav-menu li a:active{
    text-decoration: underline;
}
.calc{
    background-color: #e5e5e5;
    display: block;
    padding: 15px;
}
.calc h3{
    font-size: 16px;
    color: #535353;
    font-weight: bold;
    margin-top: 20px;
}

input[type=range] {
    height: 35px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
}
input[type=range]:focus {
    outline: none;

}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #607d8b;
    border-radius: 0px;
    border: 0px solid #E5E5E5;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 4px solid #FFFFFF;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: #009688;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #009688;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #66c7be;
    border-radius: 0px;
    border: 0px solid #E5E5E5;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 4px solid #FFFFFF;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: #009688;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #66c7be;
    border: 0px solid #E5E5E5;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #66c7be;
    border: 0px solid #E5E5E5;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000031;
    border: 4px solid #FFFFFF;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background: #009688;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #009688;
}
input[type=range]:focus::-ms-fill-upper {
    background: #009688;
}
#quantity_view {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background-color: #f7f7f7;
    line-height: 50px;
    white-space: nowrap;
    -webkit-transition: -webkit-box-shadow .25s ease;
    transition: -webkit-box-shadow .25s ease;
    transition: box-shadow .25s ease;
    transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: none;
    border: none;
}

#quantity_view:focus, #quantity_view:hover ,#quantity_view:active{
    outline: none;
    -webkit-box-shadow: 0 2px 0 0 #009688;
    box-shadow: 0 2px 0 0 #009688;
}
.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    outline: none;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    width: 100%;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #009688;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
}
.btn:hover,.btn:focus,.btn:active{
    color:#fff;
    background-color: #02b7a6;
    outline: none;
}
.quantity_block{
    margin: 15px 0;
}
.calc-info{
    font-size: 13px;
    color: #aaa;
    margin-top: 15px;
    margin-bottom: 0;
}
.profit_calculation_list{
    list-style: none;
    margin-top:30px;
    padding: 0;
}
.profit_calculation_list>li {
    margin-bottom: 10px;
}
.profit_calculation_type {
    font-weight: 400;
    color: #aaa;
    display: block;
}
.profit_calculation_value,.rouble {
    font-weight: 700;
}


.carousel-caption{
    top: 10px;
    left: 20px;
    width: 50%;
    color: #292b2c;
    text-shadow: none;
}
.item_header {
    line-height: 30px;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}
.item_description{
    line-height: 20px;
    font-size: 16px;
    text-align: left;
    position: absolute;
    bottom: 5px;
}
.item_description-slide2{
    color: #fff;
}
.item_header span{
    color: #009688;
}
.item_header_description{
    font-size: 16px;
    text-align: left;
}
.price-as{
    font-weight: bold;
    text-align: left;
    font-size: 34px;
    border-top: 3px solid #009688;
    margin-top: 20px;
    width: 80%;
}
.item_description-slide3{
    width: 85%;
}

@media screen and (max-width: 992px) {
    .slider{
        margin:30px auto;
    }
}
.section-title{
    margin: 30px auto;
    text-transform: uppercase;
    text-align: center;
}
.ball{
    font-size: 36px;
    text-align: center;
    background-color: #009688;
    color: #fff;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 54px;
    margin: 0 auto;
    border: 3px solid #e5e5e5;
}
.howItWork h3{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}
.btn-container{
    float: right;
}
.nonepading{
    padding: 0;
}
.login-form,.register-form,.reset-pass-form,.new-pass-form{
    float:none;
    margin: 30px auto;
}

.form-control {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background-color: #f7f7f7;
    line-height: 50px;
    white-space: nowrap;
    -webkit-transition: -webkit-box-shadow .25s ease;
    transition: -webkit-box-shadow .25s ease;
    transition: box-shadow .25s ease;
    transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control:focus, .form-control:hover ,.form-control:active{
    outline: none;
    -webkit-box-shadow: 0 2px 0 0 #009688;
    box-shadow: 0 2px 0 0 #009688;
}
.panel-default{
    background-color: #e5e5e5;
    border-radius: 0;
    border: none;
}
.panel-default>.panel-heading {
    background-color: #5f7c8b;
    border-radius: 0;
}
.panel-heading h3{
    font-size: 24px;
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}
.frgt-pass{
    color: #5e7b8b;
    margin-top: 10px;
    display: block;
}
.frgt-pass:hover{
    color: #5e7b8b;
}